.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr auto;
  background-color: white;
 }

 .navbar {
    background-color: #F2F8F5;
    height: 70px;
    border-top: 1px solid #E2E2E2;
 }

// .footer {
//   text-align: center;
//   background-color: rgb(66, 66, 66);
//   color: white;
//   padding-top: 10px;
//   padding-bottom: 10px;
// }


.navbar-custom {
  list-style: none;
  display: flex;
  margin-bottom: 0px;
}


.navbar-custom li {
  margin-right: 65px;
  padding-top: 5px;
  padding-bottom: 0px;
  font-size: 20px;
}

.navbar-custom li p {
  font-size: 9px;
}

.navbar-custom li i {
  color: #519872;
  padding-left: 4px;
}

#profile {
  margin-right: 32px;
}
