// Specific CSS for your home-page
.contain {
  background-image: asset-url("landing.jpg");
  background-size: cover;
  height: 92vh;
}
.container {
  margin: 0 auto;
}

.justify-content-between {
  margin: 0 20px;
}

.contain h1 {
  padding-top: 270px;
  margin-left: 22px;
}

.content-container {
  margin-bottom: 70px;
}

.col {
  display: flex;
  justify-content: center;
}
