<div class="container">
  <ul>
    <li><%= @user.email %></li>
    <li><%= @user.username %></li>
    <li><%= @user.bio %></li>
    <li><%= cl_image_tag(@user.avatar.key, height: 140, width: 140, crop: :fill) %></li>
  </ul>
</div>
