<div class="container">
  <h2>Event Schedule</h2>
  <% if user_signed_in? %>
    <div class="container monthly_calendar">
      <%= month_calendar(events: @events) do |date, events| %>
        <%= date.day %>

        <% events.each do |e| %>
          <div>
            <%= link_to e.name, event_path(e), class: "nav-link btn1"%>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="container event-list">
      <% if @events.any? %>
        <% @events.each do |event| %>
          <%= render "shared/card", event: event %>
        <% end %>
      <% else %>
        <p>no events found!</p>
      <% end %>
    </div>
  <% else %>
    <p>Must be signed in to see schedule</p>
  <% end %>
  <h2>Not a word about styling thanks 😘</h2>
</div>
