<div class="container">
  <%= month_calendar(events: @events) do |date, events| %>
    <%= date.day %>

    <% events.each do |e| %>
      <div>
        <%= link_to e.name, event_path(e), class: "nav-link btn1"%>
      </div>
    <% end %>
  <% end %>
</div>
