<%# <div class="contain" style="background-image: asset-url('logo.png', image);">
  <h1>Find your team close by ...</h1>
  <div class="search mt-4 mb-4">
    <%= form_with url: hitmen_path, method: :get, class: "d-flex" do %>
        <%# <div class="input-group rounded">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control rounded",
            placeholder: "Your location"
          %>
          <%# <%= submit_tag "Search", class:"btn btn-light search-btn"%>
        <%# </div>
    <% end %>
  <%# </div>
</div> %> %> %> %> %>
