.btn1 {
  background-color: #519872;
  padding: 6px 13px;
  border-radius: 4px;
  border: 1px solid #569674;
  color: white;
  box-shadow: 0px 1px 1px 0px rgba(107, 106, 106, 0.3);
  font-weight: 500;
  margin-left: 6px;
  text-decoration: none;
  font-family: $body-h1-font;
  &:hover {
    background-color: rgba($color: #000000, $alpha: 0);
    color: #569674;
  }
}

.btn2 {
  background-color: white;
  padding: 5px 12px;
  border-radius: 4px;
  border: 1px solid #569674;
  color: #569674;
  box-shadow: 0px 1px 1px 0px rgba(107, 106, 106, 0.3);
  font-weight: 500;
  text-decoration: none;
  font-weight: bold;
  font-family: $body-h1-font;
}

.btn2:hover {
  background-color: #569674;
  color: white;
}

.btn-report {
  background-color: #c1666b;
  padding: 6px 13px;
  border-radius: 4px;
  border: 1px solid #b46064;
  color: white;
  box-shadow: 0px 1px 1px 0px rgba(107, 106, 106, 0.3);
  font-weight: 500;
  margin-left: 6px;
  text-decoration: none;
  font-family: $body-h1-font;
}

.btn-report:hover {
  background-color: white;
  color: #c1666b;
}

.btn-calendar {
  background-color: #519872;
  padding: 3px 6px;
  border-radius: 4px;
  border: 1px solid #569674;
  color: white;
  box-shadow: 0px 1px 1px 0px rgba(107,106,106,0.3);
  text-decoration: none;
  font-size: 10px;
  font-family: $body-h1-font;
  margin-bottom: 2px;
  text-align: center;
}

.btn-calendar:hover {
  background-color: transparent;
  color: #569674;
}
