.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.badge {
  background-color: #519872;
}

.map-icon {
  text-align: center;
  font-size: 35px;
}

.map-size {
  width: 100%;
  height: 600px;
}
