.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
.sender-style,
.receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 4px;
  padding: 8px;
  min-height: 80px;
}

.sender-style {
  background-color: #cbe2d5;
}

.receiver-style {
  background-color: #ecebc0;
}

.chatroom-header {
  height: 55px;
  background-color: #e2e2e2;
  padding: 0px 20px 10px;
  margin-bottom: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.chatroom {
  margin-top: 55px;
}

.search-margin {
  padding: 10px;
}

.chat-index-item {
  border-bottom: 1px solid #f2f8f5;
  border-top: 1px solid #f2f8f5;
  min-height: 40px;
  padding-left: 20px;
  font-size: 20px;
  text-decoration: none;
  justify-content: space-between;
  padding-right: 10px;
  padding-top: 10px;
}

.upload {
  position: relative;
  width: 40px;
  height: 40px;
}

.upload i {
  position: absolute;
  top: 12px;
  left: 13px;
}

.upload input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
}
