.navbar-lewagon {
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-container {
  border: 1px solid red;
}

#navbarDropdown {
  color: #519872;
  text-decoration: none;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-item a {
  text-decoration: none;
  color: #519872;
}
